/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
h1 {
  font-size: 5em !important;
  font-weight: 300 !important;
  margin: 1em !important;
}
